<%- include('../includes/head.ejs') %>
    </head>
      
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main> 
            <% if (products.length>0) {
                %> <ul> 
                    <% products.forEach(p=>
                    {
                        %> <li><h1><%= p.title %></h1> 
                        <h1>Quantity:(<%= p.cartItem.quantity %>)</h1>
                        <form action="delete-cartitem" method="POST">
                            <input type="hidden" name="productId" value="<%= p.id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                        </li><%
                    })%>
                </ul> <%
            }else{
                %>
                <h1> No Product Data</h1><%
            } %>
           </main>
     
        <%- include('../includes/end.ejs') %>